 h1{
  background-image: linear-gradient(200deg, #0a7038 30%, #c5f019);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
 }

 .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  max-width: 1440px;
  padding: 30px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 0;
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 360px;
  height: 200px;
  border-radius: 3px;
}

.gallery-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.gallery-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}


.basicLightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}